.bodie-home {
    margin: 0px;
    padding: 0px;
    background: linear-gradient(to bottom, #8c8c8c 0%, #ffffff 100%);
    background-color: #D5d8dc;
    overflow-x: hidden;
}

.buscador {
    margin-top: 50px;
    height: center;
    position: relative;
}

header nav div {
    background: #262626;
}

head body form div input {
    padding-left: 50px;
    left: 234px;
}

.slider {
    width: 100%;
    height: 300px !important;
}

.slider img {
    position: absolute;
    width: 100%;
}

.slider hcarousel-inner {
    position: absolute;
    max-height: 200px;
    overflow: hidden;
}


.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 50%;
    height: 20%;
    margin: auto;
}


/* Style the list */

ul.breadcrumb {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 15px;
    padding: 10px 16px;
    list-style: none;
    font-size: 17px;
    background-color: #D5d8dc;
    border-color: #D5d8dc;
}


/* Display list items side by side */

ul.breadcrumb li {
    display: inline;
}


/* Add a slash symbol (/) before/behind each list item */

ul.breadcrumb li + li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}


/* Add a color to all links inside the list */

ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}


/* Add a color on mouse-over */

ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}

.img-background {
    min-width: 100%;
    height: 100%;
    z-index: -1;
}

.image-profile {
    margin: -500px 10px 0px 50px;
    z-index: 9;
    width: 20%;
    height: 30%;
}

.image-profile:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 1.8);
    transform: scale(1.2, 1.2);
}

.ies-name {
    font-weight: bold;
    font-size: 32pt;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

.bg-image-full {
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.navbar {
    margin-bottom: 0px !important;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
}

input.invalid {
    border: 2px solid red;
    background-color: #ffaeae;
}

input.valid {
    border: 2px solid #2ecc71;
    background-color: #b4ffae;
}

.videoContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

iframe {
    /* optional */
    width: 100%;
    height: 100%;
}




* {
    box-sizing: border-box;
}

.video-background {
    background: #000;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -99;
}

.video-foreground,
.video-background iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}


@media (min-aspect-ratio: 16/9) {
    .video-foreground {
        height: 300%;
        top: -100%;
    }
}

@media (max-aspect-ratio: 16/9) {
    .video-foreground {
        width: 300%;
        left: -100%;
    }
}
