<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Registrar campus</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../js/extensions/jquery-3.2.0.min.js"></script>
    <script type="text/javascript" src="../js/extensions/angular.min.js"></script>
    <script type="text/javascript" src="../js/extensions/angular-route.js"></script>
    <script type="text/javascript" src="../js/extensions/angular-cookies.js"></script>
    <script type="text/javascript" src="../js/app.js"></script>
    <script type="text/javascript" src="../js/controller/campusCtrl.js"></script>
    <script type="text/javascript" src="../js/service/campusService.js"></script>

    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <nav class="navbar navbar-inverse" style="background-color:272B2A">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li><a href="../index.html">Home IESBuscador</a></li>
                <li class="active"><a href="#">IES</a></li>
                <li><a href="knowledgeareas.html">Areas/Disciplinas</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="register.html">Cerrar Sesión</a></li>
                <li><a href="login.html">Iniciar Sesión</a></li>
                <li><a href="register.html">Registrar</a></li>
            </ul>
        </div>
    </nav>

    <div class="container" data-ng-app="app" data-ng-controller="campusCtrl" data-ng-init="checkSession()">
        <h2>Registro Campus</h2>
        <form name="myForm">

            <div class="form-group">
                <label for="text">Nombre Campus:</label>
                <input type="text" class="form-control" id="name" data-ng-model="campusForm.name" placeholder="Nombre campus" required>
            </div>

            <div class="form-group">
                <label for="text">Dirección:</label>
                <input type="text" class="form-control" id="location" data-ng-model="campusForm.location" placeholder="Dirección campus" required>
            </div>

            <div class="form-group">
                <label for="text">Ciudad:</label>
                <select class="form-control" data-ng-model="campusForm.city">
	            	<option ng-value="Rionegro">Rionegro</option>
	            	<option ng-value="Medellin">Medellin</option>
	            </select>
            </div>

            <div class="form-group">
                <label for="text">Teléfono:</label>
                <input type="number" class="form-control" id="phone" data-ng-model="campusForm.phone" placeholder="Telefono campus" required>
            </div>

            <div class="form-group">
                <label for="text">Correo:</label>
                <input type="email" class="form-control" id="email" name="mail" data-ng-model="campusForm.email" placeholder="Email" ng-class="{'invalid' : myForm.mail.$invalid && myForm.mail.$touched, 'valid' : myForm.mail.$valid}" required>
            </div>

            <div class="form-group">
                <label for="text">Univesidad:</label>
                <select class="form-control" data-ng-model="campusForm.university">
	            	<option ng-value="1">Universidad Catolica de oriente</option>
	            	<option ng-value="2">Universidad de la vida</option>
	            </select>
            </div>

            <div class="text-center">
                <button type="submit" class="btn btn-default btn-lg" id="addCampusBtn" data-ng-click="addCampus(campusForm)">Registrar campus</button>
            </div>
        </form>
    </div>
</body>

</html>
